docttype
html 
    head 
    body 
        h1 Employee Interests Survey Form
        form
            div 
                label(for="input-1") Enter Your Name : 
                input(type="text" id="input-1") 
            div 
                label(for="input-2") Enter Your Department :
                input(type="text")
            div(class='textarea')
                label(for="textarea") Tell Us a little about yourself 
                textarea(name="", cols="40", rows="20")
            div 
                label(for="radio") Do You exercise at home?
                input(type="radio" name='radio-1')
                input(type="radio" name='radio-1')
            div 
                p How do you like to read about your favorite topics?
                input(type="checkbox" name='check-1' id="check-1")
                label(for='check-1') Books
                input(type="checkbox" name='check-1' id="check-2")
                label(for='check-2') Online resources 
                input(type="checkbox" name='check-1' id="check-3")
                label(for='check-3') Phone apps 
                input(type="checkbox" name='check-1' id="check-4")
                label(for='check-4') Magazines 
            div 
                p What gentre of movies do you like?
                select(name="select-1")
                    option(value="Mohamed-Yousef")  Mohamed Yousef 
                    option(value="Mohamed-Yousef")  Mohamed Yousef
            input(type="submit")


                
